.page {
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  color: #2D2D2D;
}

.section {
  display: grid;
  gap: 24px;
  padding: 30px;
  grid-template-columns: repeat(3, 1fr);
}

.card {
  display: flex;
  width: 100%;
  height: 100%;

  flex-direction: column;
  border: 2px solid transparent;
  padding: 24px;
  position: relative;
  place-self: center;
  padding-bottom: 50px;
}

.card--green {
  border-color: #179D2E;
}

.card--blue {
  border-color: #0177B8;
}

.card--yellow {
  border-color: #F5AF23;
}

.card--red {
  border-color: #F02E2C;
}

.card__icon-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.icon {
  height: 100px;
  background-image: url('./icons/sprite.svg');
  background-repeat: no-repeat;
}

.icon--tap {
  width: 94px;
  background-position: 0 0;
}

.icon--roller {
  width: 91px;
  background-position: -95px 0;
}

.icon--sofa {
  width: 123px;
  background-position: -188px 0;
}

.icon--electrical {
  width: 111px;
  background-position: -312px 0;
}

.icon--window {
  width: 110px;
  background-position: -424px 0;
}

.icon--picture {
  width: 117px;
  background-position: -535px 0;
}

.icon--installation {
  width: 98px;
  background-position: -653px 0;
}

.icon--home {
  width: 116px;
  background-position: -755px 0;
}

.icon--outdoor {
  width: 94px;
  background-position: -873px 0;
}

.card__title {
  font-size: 36px;
  font-weight: 600;
  line-height: 43.2px;
  color: #181833;
}

.card__list {
  display: flex;
  flex-direction: column;
  list-style: inside;
  gap: 12px;
}

.card__icon-container,
.card__title,
.card__list {
  margin-bottom: 24px;
}

.card__link {
  align-self: end;
  color: #2D2D2D;
  text-decoration: underline;
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.card__link:hover {
  color: #505065;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .section {
    padding: 25px;
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    padding: 12px;
    padding-bottom: 40px;
  }

  .card__icon-container,
  .card__title,
  .card__list {
    margin-bottom: 18px;
  }

  .card__link {
    bottom: 18px;
    right: 18px;
  }
}

@media (max-width: 768px) {
  .section {
    padding: 20px;
    grid-template-columns: 1fr;
  }

  .card {
    padding: 10px;
    padding-bottom: 35px;
    gap: 12px;
  }

  .card__icon-container,
  .card__title,
  .card__list {
    margin-bottom: 12px;
  }

  .card__link {
    bottom: 12px;
    right: 12px;
  }
}
